/* Write your global CSS here */
/* Note that you don't need to do Normalization as react-bootstrap does it for us */
body {
  padding: 0;
  margin: 0%;

  font-size: 1.2rem;
  font-weight: 500;
}
h1 {
  font-weight: 800;
  font-family: "Petemoss", cursive;
}
h2 {
  font-weight: 800;
  font-family: "Petemoss", cursive;

  font-size: 3rem;
}
hr {
  width: 20rem;
}

.App {
  height: 100vh;
}
.carouselhome img {
  width: 100%;
  height: 80vh;
}
.navbar-bg {
  background-color: #cc99ff !important;
}
.card-button {
  background-color: #cc99ff !important;
  border-color: #9c5bdd;
}
.cardss {
  display: flex;
  flex-direction: row;
}
